h1 {
  text-align: center;
  font-family: Courier;
}
a {
  text-align: right;
}

h3 {
  text-align: right;
}
h5 {
  text-align: right;
}
body {
	background-image: url("Fondo.jpg");
	background-repeat: no-repeat;
	background-position: 50% 0%;
	background-attachment: fixed;
}
* {
	margin:0px;
	padding:0px;
}
			
#header {
	margin:auto;
	width:415px;
	font-family:Courier;
}
			
ul, ol {
	list-style:none;
}
			
.nav > li {
	float:left;
}
			
.nav li a {
	background-color:#804000;
	text-align: center;
	color:#fff;
	text-decoration:none;
	padding:10px 12px;
	display:block;
}
.nav li a:hover {
	background-color:#434343;
}
			
.nav li ul {
	display:none;
	position:absolute;
	min-width:90px;
}
			
.nav li:hover > ul {
	display:block;
}
			
.nav li ul li {
	position:relative;
}
			
.nav li ul li ul {
	right:0px;
	top:0px;
}


